.top-jumb
{
	background-color: rgb(200, 200, 200);
	position: relative;
}
.row-header
{
	border-bottom: 2px solid #555;
	margin-bottom: 10px;
}
.row-block
{
	
}
.block
{
	
}
.block-title
{
	text-align: center;
	color: rgb(0, 200, 0);
}
.entry-list
{
	text-align: center;
}
.entry-title
{
	text-align: center;
	color: rgb(0, 50, 0);
	font-weight: bold;
}
.entry-body
{
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
}
.entry-footer
{
	font-size: 10px;
	color: rgb(200, 200, 200);
}
div.entry-image
{
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	width: 150px;
	height: 150px;
	display: inline-block;
}
.list-entry
{
	display: inline-block;
	width: 200px;
	height: 250px;
	padding: 10px;
	background-color: rgba(200, 255, 200, 0.8);
	overflow: hidden;
	text-align: center;
	
}
.list-entry-body
{
	padding: 10%;
	color: rgb(0, 200, 0);
	height: 100px;
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
	overflow: hidden;
}
body > .container
{
	padding-bottom: 60px;
}
footer
{
	height: 55px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: rgb(200, 200, 200);
}
.col-centered
{
    float: none;
    margin: 0 auto;
}
.platform
{
	background-color: rgba(255, 255, 255, 0.8);
}
.present-block-img
{
	background-size: contain;
	width: 300px;
	height: 300px;
	display: inline-block;
}
.present-entry
{
	display: inline-block;
	padding: 10px;
	background-color: rgba(191, 139, 86, 0.8);
	overflow: hidden;
	text-align: center;
	width: 100%;
	height: 200px;
}
.present-block-img-col
{
	text-align: center;
	height: 100%;
	display: table-cell;
}
.present-entry-image
{
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	width: 70%;
	height: 80px;
	display: inline-block;
}
.present-entry-title
{
	padding: 5px;
}